*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Sawarabi Gothic', sans-serif;
    border: 1px solid red;

}

body{

}

header{
    background: #7209b7;
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    
}


header .logo{
    padding-top: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

header .logo:hover{
    transform: scale(1.1);
}




.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-right: 50px;

}

.lista a{
    font-size: 24px;
    font-weight: 400;
    color: white;
    transition: all 0.2 ease-out;
}

.lista a:hover{
    color: #f8961e;
    transition: all 0.2 ease-out;
}

/*main*/

main{
    background: #ebebeb;
    width: 100%;    
    
    
    


}
#section1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 90px;
    background: #DA22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
        
    
    
}

.conte{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin-left: 0 20px;
    
    
}

.ola{
    width: 100%;
    height: 100px;
    background: #DA22FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
        
        
}

.inicio{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    background: #c9184a;
    padding: 30px 40px;
    border-radius: 15px;
    margin: 0 30px;
    gap: 20px
    
    
}


.inicio h1{
    font-size: 35px;
    max-width: 100%;
    color: #f4f3ee
}

.inicio p{
    font-size: 20px;
    width: 450;
    color: #f4f3ee;
    max-width: 100%;
    
    

}

.mas-info{
    background: #f8961e;
    width: 100px;
    padding: 10px 10px;
    border-radius: 15px;
    text-align: center;
}

.mas-info a{
    color: #f4f3ee;
    
}


.tienda img{
    max-width: 100%;
}

.fa-cart-shopping{
    transition-property: all;
    transition-duration: 0.3;
    width: 30px;
    
    
}

.fa-cart-shopping:hover{
    color: #f8961e;
    transition-property: all;
    transition-duration: 0.3;
    
}




/*section-info*/

.section-info{
    display: center;
    align-items: center;
    justify-content: center;

}

.info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}


.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    padding: 40px 30px;
    background: #c9184a;
    color: #ebebeb;
    gap: 10px;
    text-align: center;
    margin-top: 100px;
    

}

.info img {
    
    width: 40px;
}


/*productos*/

.section-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.productos-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px 0;
    max-width: 1200px;
}


.section-productos img{
    width: 200px;
    height: 250px;
}


.producto{
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
    width: 25%;
    overflow: hidden;
    
}



.producto-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    
}

.producto-top{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    
}



.producto-mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.producto-top h3{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.producto-mid span{
    font-weight: 600;
    font-size: 20px;
}

.comprar{
    border-radius: 10px;
    width: 50px;
    background: #f8961e;
    border: none;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
}

/*img de productos*/

/*contactos*/

#section-contactos{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #f8961e;
    margin-top: 100px;
    flex-wrap: wrap;
    padding: 40px 0;
}


.contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
    
}

.lista-contactos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    

    
    
}

.lista-contacto p{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.lista-contacto h2{
    font-weight: 750;
    margin-bottom: 15px;
}

.mapa{
    width: 300px;
    height: 200px;
}


/*footer*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7209b7;
    width: 100%;
    padding-top: 20px;
}

footer img{
    height: 100px;
}


/*carrito*/

.campera-carrito{
    width: 70px;
    
}

.cart{
    position: absolute;
    top: 80px;
    right: 0;
    padding: 50px 30px;
    border: #073b4c solid 2px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    z-index: 2;
    background: #ebebeb;
    transform: translate(200%);
    transition: all 0.5s;
    
    
    
}

nav, label, i{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    cursor: pointer;
    
    
}

.fa-cart-shopping{
    color: #f4f3ee;
    font-size: 30px;
}


#cart-toggle{
    display: none;
}

#cart-toggle:checked + .cart{
    transform: translate(0%);
    transition: all 0.5s;
}

/*item info*/

.cart-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f3ee;
    width: 250PX;
    padding: 5px 0;
    border-radius: 10px;
    border: 2px solid black;


}

.item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.compras-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cantidad{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.item-title{
    font-size: 14px;
    font-weight: 800;
    
    
}

.item-info span{
    font-weight: 700;
}

.item-cantidad{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    

}

.simbolos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;

}

.substrac{
    border: 2px solid black;
    border-radius: 5px;
    
}

.add{
    border: 2px solid black;
    border-radius: 5px;
    
}

.cantidad{
    
    color: #f4f3ee;
    background: #f8961e;
    padding: 2px 8px;
    border-radius: 5px;
}

/*menu*/

#toggle-menu{
    display: none;
}

.menu{
    display: none;
}
.icon-menu{
    transition-property: all;

}

.icon-menu{
    transition-property: all;
    color:#f4f3ee;
}


/*mediaquerie*/

