*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Sawarabi Gothic', sans-serif;
    

}

main{
    width: 100%;
    background: #DA22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;

}

header{
    background: #7209b7;
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    
}

header .logo{
    padding-top: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

header .logo:hover{
    transform: scale(1.1);
}



.section-registrar{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-registrar{
    background: white;
    width: 500px;
    height: 650px;
    max-width: 500px;
    border-radius: 10px;
    padding: 30px 60px;
    
}

.contenedor-registrar h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 35px 0;
    font-size: 30px;
    
}

.inputt{
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}

.inputt:focus{
    outline: none;
}

input{
    font-size: 16px;
}

.input::placeholder{
    font-size: 16px;
}

button{
    margin: 20px 0;
    border-radius: 10px;
    padding: 5px;
    background: #FDC830;  /* fallback for old browsers */background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 45px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-out;
    

}

button:hover{
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.2s ease-out;
}


/*MEDIA*/

@media (max-width: 992px){
    .contenedor-registrar{
        width: 400px;
        
    }

    .contenedor-registrar h1{
        font-size: 25px;
    }

    input{
        font-size: 15px;
    }
    
    .inputt::placeholder{
        font-size: 15px;
    }

    button{
        height: 40px;
        

    }


}


@media (max-width: 576px){
    .contenedor-registrar{
        width: 315px;
        margin-top: 50px;
        
    }
    .contenedor-registrar h1{
        font-size: 20px;
    }



}