*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Sawarabi Gothic', sans-serif;
    

}

main{
    width: 100%;
    background: #DA22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;

}

header .logo{
    padding-top: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

header .logo:hover{
    transform: scale(1.1);
}



header{
    background: #7209b7;
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    
}

.section-formulario{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.formulario{
    background: white;
    width: 500px;
    max-width: 500px;
    border-radius: 10px;
    padding: 30px 60px;
    
    
}

.formulario h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 35px 0;
    font-size: 30px;
    
}

.inputt{
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    height: 45px;
    width: 100%;
}

.inputt:focus{
    outline: none;
}

button{
    margin: 20px 0;
    border-radius: 10px;
    padding: 5px;
    background: #FDC830;  /* fallback for old browsers */background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 45px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    

}

button:hover{
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.2s ease-out;
}

.sesion{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cambiar a{
    font-size: 12px;
    transition: all 0.2 ease-out;
    cursor: pointer;
}

.cambiar a:hover{
    color:  #f8961e;
    transition: all 0.2 ease-out;
}

input::placeholder{
    font-size: 16px;
}

input{
    font-size: 16px;
}


/*registra*/

/*media*/

@media (max-width: 992px){


    .formulario{
        width: 400px;

    }

    input::placeholder{
        font-size: 15px;
    }
    
    input{
        font-size: 15px;
    }
    
    button{
        height: 40px;
    }

    .formulario h1{
        font-size: 25px;
    }

}


@media (max-width: 576px){

    .formulario{
        width: 300px;
        margin-top: 55px;
        
        
        
    }

    .formulario h1{
        font-size: 20PX;
    }

    header .logo{
        width: 120px;
    }

}